<form action="/articles" method="post">
  <label>Title<input type='text' name='title'></label><br>
  <label>Content<input type='text' name='content'></label><br><br>
  <input type='submit' value='Submit'>
</form>